{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
  "setGallerySize": true,
  "wrapAround": true,
  "watchCSS": true,
  "dragThreshold": 8
}
{%- endcapture -%}

<div id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-list">
  <div class="Carousel Carousel--insideDots CollectionList {% if section.settings.add_spacing %}CollectionList--spaced{% endif %}" data-flickity-config='{{ flickity_options }}'>
    {%- for block in section.blocks -%}
      {%- assign collection = collections[block.settings.collection] -%}
      {%- include 'collection-item', collection: collection, apply_overlay: block.settings.apply_overlay -%}
    {%- endfor -%}
  </div>
</div>

<style>
  #section-{{ section.id }} .SectionHeader__Heading--emphasize {
  	font-size: {{ section.settings.title_size }}px;
  }
  
  #section-{{ section.id }} .CollectionItem .Heading,
  #section-{{ section.id }} .flickity-page-dots {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .CollectionItem__Link {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.text_color }};
    border-radius: {{ section.settings.border_radius }}px;
  }

  #section-{{ section.id }} .CollectionItem__Link::before {
    background-color: {{ section.settings.text_color }};
  }

  @media (-moz-touch-enabled: 0), (hover: hover) {
    #section-{{ section.id }} .CollectionItem__Link:hover {
      color: {{ section.settings.button_color_hover }};
    }
  }
  
  .Button-collection {
    background: {{ section.settings.button_background_color }};
    color: {{ section.settings.button_text_color }};
    height: {{ section.settings.button_height }}px;
    width: {{ section.settings.button_width }}px;
    border-color: {{ section.settings.button_color }};
    border-radius: {{ section.settings.border_radius }}px;
    font-size: {{ section.settings.button_text_size }}px;
    font-weight: {{ section.settings.button_text_weight }};
    text-decoration: none;
    letter-spacing: {{ section.settings.button_text_spacing }}px;
    padding: {{ section.settings.button_top_padding }}px 28px;
  }
</style>

{% schema %}
{
  "name": "Collection list",
  "max_blocks": 18,
  "settings": [
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "add_spacing",
      "label": "Add spacing",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "expand_collection",
      "label": "Expand collections to fill row",
      "default": false
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
	{
      "type": "text",
      "id": "title_size",
      "label": "Text size",
      "default": "24"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#363636"
    },
	{
      "type": "color",
      "id": "button_color_hover",
      "label": "Button text color hover",
      "default": "#363636"
    },
	{
      "type": "color",
      "id": "button_background_color",
      "label": "Button text color",
      "default": "#ccc"
    },
	{
      "type": "text",
      "id": "border_radius",
      "label": "Button border radius",
      "default": "0"
    },
	{
      "type": "text",
      "id": "button_height",
      "label": "Button height",
      "default": "40"
    },
	{
      "type": "text",
      "id": "button_width",
      "label": "Button width",
      "default": "200"
    },
	{
      "type": "text",
      "id": "button_text_size",
      "label": "Button text size",
      "default": "14"
    },
	{
      "type": "text",
      "id": "button_text_weight",
      "label": "Button text weight",
      "default": "regular"
    },
	{
      "type": "text",
      "id": "button_text_spacing",
      "label": "Button text spacing",
      "default": "0"
    },
	{
      "type": "text",
      "id": "button_top_padding",
      "label": "Button top/bottom padding",
      "default": "18"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1120 x 1200px jpg recommended"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Image alignment",
          "options": [
            {
              "value": "top left",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
            {
              "value": "top right",
              "label": "Top right"
            },
            {
              "value": "center left",
              "label": "Middle left"
            },
            {
              "value": "center center",
              "label": "Middle center"
            },
            {
              "value": "center right",
              "label": "Middle right"
            },
            {
              "value": "bottom left",
              "label": "Bottom left"
            },
            {
              "value": "bottom center",
              "label": "Bottom center"
            },
            {
              "value": "bottom right",
              "label": "Bottom right"
            }
          ],
          "default": "center center"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Desktop content position",
          "options": [
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            }
          ],
          "default": "bottomLeft"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Sub-heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View products"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "If none is set, collection URL is used."
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "This can improve text visibility.",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection list",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}