
{%- if section.settings.enable -%}
	<div class="custom-tabs section-content" data-section-id="{{ section.id }}" style="background-color:{% if section.settings.bg_color %} {{section.settings.bg_color}} {% endif %}">
      <div class="container">
        <ul class="tabs">
          {% for block in section.blocks %}
          <li class="tab-link {% if forloop.first %} current {% endif %}" data-tab="tab-{{forloop.index}}">{{ block.settings.tab_name }}</li>
          {% endfor %}
        </ul>

	      {% for block in section.blocks %}

					{% capture block_content %}
					<div class="Grid__Cell 1/1--phone 1/2--tablet-and-up 1/2--desk">
						<div class="section_content">
							{%- if block.settings.title1 != blank -%}
							<h2 style="color: {{ block.settings.heading_color }};">{{ block.settings.title1 }}</h2>
							{%- endif -%}
							{%- if block.settings.subheading1 != blank -%}
							<p style="color: {{ block.settings.content_color }}">{{ block.settings.subheading1 }}</p>
							{%- endif -%}
							{%- if block.settings.button_1_link1 != blank -%}
							<a href="{{ block.settings.button_1_link1 }}" class="ButtonGroup__Item Button" style="color: {{ block.settings.button_text_color }}; background-color: {{ block.settings.button_background_color }};">{{ block.settings.button_1_text1 | escape }}</a>
							{%- endif -%}
						</div>
					</div>
					{% endcapture %}

					{% capture block_image %}
					<div class="Grid__Cell 1/1--phone 1/2--tablet-and-up 1/2--desk">
						{%- assign image = block.settings.image1 -%}
						{%- if image -%}
							<div class="block_image">
								<img class="custom_block_image Image--lazyLoad"
										 src="{{ image | img_url: '1x1' }}"
										 data-src="{{ image | img_url: 'x800' }}"
										 alt="{{ image.alt | escape }}">

								<noscript>
									<img class="Slideshow__Image" src="{{ image | img_url: 'x800' }}" alt="{{ image.alt | escape }}">
								</noscript>
							</div>
						{%- else -%}
							<div class="Slideshow__ImageContainer">
								{%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
								{{ placeholder | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
							</div>
						{%- endif -%}
					</div>
					{% endcapture %}


	      <div id="tab-{{forloop.index}}" class="tab-content {% if forloop.first %} current {% endif %}">
					{% comment %}
	        <div class="slider">
					{% endcomment %}
	              {% if block.settings.image1 != blank %}
	          		<div class="cover">
	                  <div class="Grid image_grid dhara">
	                    {% if block.settings.image_position == 'left' %}
											{{- block_image -}}
											{{- block_content -}}
											{% else %}
											{{- block_content -}}
											{{- block_image -}}
	                    {% endif %}
	                  </div>
	              	</div>
	          		{% endif %}
					{% comment %}
	        </div>
					{% endcomment %}
	      </div>
	      {% endfor %}
        </div>


</div>
{%- endif -%}

{% schema %}
  {
    "name": "Custom Tabs",
	"class": "custom-tab",
	"max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enabled Section?"
      },
	  {
        "type": "checkbox",
        "id": "show_fullscreen",
        "label": "Show full-screen images",
        "info": "If enabled, images will be resized to fit the entire screen.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto rotate between slides",
        "default": true
      },
      {
        "type": "range",
        "id": "cycle_speed",
        "min": 3,
        "max": 8,
        "step": 1,
        "unit": "sec",
        "label": "Change slides every",
        "default": 5
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Select Background Color"
      }
	],

	"blocks":[
      {
				"type": "tabs-option",
				"name": "Tabs",
				"settings":[
					{
		        "type": "header",
		        "content": "Header"
					},
					{
		        "type": "text",
		        "id": "tab_name",
		        "label": "Add Tab Name"
					},
					{
		        "type": "header",
		        "content": "Tab Content 1"
					},
					{
		        "type": "image_picker",
		        "id": "image1",
		        "label": "Image",
		        "info": "1560 x 1050px jpg recommended"
		      },
		      {
		        "type": "text",
		        "id": "title1",
		        "label": "Heading"
		      },
					{
						"type": "color",
						"id": "heading_color",
						"label": "Select Heading Color"
					},
		      {
		        "type": "textarea",
		        "id": "subheading1",
		        "label": "Content"
		      },
					{
						"type": "color",
						"id": "content_color",
						"label": "Select Content Color"
					},
		      {
		        "type": "text",
		        "id": "button_1_text1",
		        "label": "Text"
		      },
		      {
		        "type": "url",
		        "id": "button_1_link1",
		        "label": "Link"
		      },
					{
						"type": "color",
						"id": "button_text_color",
						"label": "Select Button Text Color"
					},
					{
						"type": "color",
						"id": "button_background_color",
						"label": "Select Button Background Color",
						"default": "#444141"
					},
					{
			      "type": "select",
			      "id": "image_position",
			      "label": "Image position",
			      "options": [
			        {
			          "value": "left",
			          "label": "Left"
			        },
			        {
			          "value": "right",
			          "label": "Right"
			        }
			      ],
			      "default": "right"
			    }
				]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
