{%- if section.settings.enable -%}

 <div class="custom-content-image section-content" data-section-id="{{ section.id }}" style="background-color:{% if section.settings.bg_color %} {{section.settings.bg_color}} {% endif %}">
	<div class="container">
      <div class="Grid image_grid">
          <div class="Grid__Cell 1/1--phone 1/2--tablet-and-up 1/2--desk image-sec">
            {%- assign image = section.settings.image -%}
            {%- if image -%}
              <div class="block_image">
                <img class="custom_block_image Image--lazyLoad"
                     src="{{ image | img_url: '1x1' }}"
                     data-src="{{ image | img_url: 'x800' }}"
                     alt="{{ image.alt | escape }}">

                <noscript>
                  <img class="Slideshow__Image" src="{{ image | img_url: 'x800' }}" alt="{{ image.alt | escape }}">
                </noscript>
              </div>
            {%- endif -%}
        </div>
          <div class="Grid__Cell 1/1--phone 1/2--tablet-and-up 1/2--desk detail-sec">
          <div class="section_content">
            {%- if section.settings.heading != blank -%}
                <h2 style="color: {{ section.settings.heading_color }};">{{section.settings.heading}}</h2>
            {%- endif -%}
            {%- if section.settings.content != blank -%}
                <p style="color: {{ section.settings.content_color }};">{{section.settings.content}}</p>
            {%- endif -%}
            {%- if section.settings.button_text_url != blank -%}
                <a href="{{ section.settings.button_text_url }}" class="ButtonGroup__Item Button" style="color: {{ section.settings.button_text_color }}; background-color:{% if section.settings.button_background_color %} {{section.settings.button_background_color}} {% endif %}">{{ section.settings.button_text | escape }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>

    </div>
  </div>
{%- endif -%}
{% schema %}
  {
    "name": "Custom Content with Image",
	"class": "custom-content-with-image",
    "settings": [
		{
          "type": "checkbox",
          "id": "enable",
          "label": "Enabled Section?"
        },
		{
			"type": "image_picker",
			"id": "image",
			"label": "Select Image"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
    {
      "type": "color",
      "id": "heading_color",
      "label": "Select Heading Color"
    },
		{
			"type": "textarea",
			"id": "content",
			"label": "Content"
		},
    {
      "type": "color",
      "id": "content_color",
      "label": "Select Content Color"
    },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Title"
        },
        {
          "type": "url",
          "id": "button_text_url",
          "label": "Button URL"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Select Button Text Color"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Select Button Background Color",
          "default": "#444141"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Select Background Color"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
