<div id="section-{{ section.id }}" data-section-id="{{ section.id }}" class="" data-section-type="logo">
  <div class="Container">
    <div class="logo-list">
      {%- for block in section.blocks-%}
      <div class="logo-img">
      	<img src="{{ block.settings.image}}"/>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
<style>
  #section-{{ section.id }} .logo-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #section-{{ section.id }} .logo-img {
    margin-bottom: 20px;
  }
  #section-{{ section.id }} .logo-img img {
  	height: 30px;
  }

  @media (max-width: 400px) {
    #section-{{ section.id }} .logo-img img {
    	height: 20px;
    }
  }
</style>
{% schema %}
  {
    "name": "Logo List",
    "class": "home-logo-section",
    "presets": [
      {
        "name": "Logo block",
        "category": "Custom sections"
      }
     ],
	"settings": [],
	"blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "url",
          "id": "image",
          "label": "Logo Url"
        },
        {
          "type": "text",
          "label": "Image alt text",
          "id": "img_alt"
        }]
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
