
<product-display product-handle="{{ product.handle }}">
  <template slot="content">
    {%- if section.settings.promo_line != blank -%}
    <p class="product-info__description">{{ section.settings.promo_line | escape }}</p>
    {%- endif -%}
    <h1 class="product-info__title">{{ product.title }}</h1>
    <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
    {%- if product.description != blank -%}
      <p class="product-info__description">{{ product.description }}</p>
    {%- endif -%}
  </template>
</product-display>

{% schema %}
  {
    "name": "Product Header",
    "settings": [
      {
        "label": "Promo Line",
        "type": "text",
        "id": "promo_line"
      }
    ]
  }
{% endschema %}
