{% assign hasFreeMembership = false %}

{% for tag in product.tags %}
  {% if tag contains 'free-membership-included' %}
    {% assign hasFreeMembership = true %}
  {% endif %}
{% endfor %}

<product-display product-handle="{{ product.handle }}">
  <template slot="content-header">
    {%- if section.settings.promo_line != blank -%}
    <div class="product-info__promo-line">{{ section.settings.promo_line }}</div>
    {%- endif -%}
    <h1 class="product-info__title">{{ product.title }}</h1>
    
    <!-- Yotpo Star Rating -->
      <div class="yotpo bottomLine" data-product-id="{{ product.id }}">
      
        {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
        {%- assign time_now = 'now' | date: '%s' %}
        {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
        {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
        {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
        {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
        {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
        {%- assign yotpo_bottomline_obsolete = false %}
        {%- else %}
        {%- assign yotpo_bottomline_obsolete = true %}
        {%- endif %}
        {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
        {{ product.metafields.yotpo.bottomline }}
        {%- endif %}
      
      </div>
    <!-- End Yotpo Star Rating -->

    {%- if section.settings.membership_line != blank and hasFreeMembership -%}
    <p class="product-info__membership-line">
      {{ section.settings.membership_line | escape }}
      <icon tabindex="0" v-tooltip.top="{ ref: 'membership-tooltip' }" name="help" size="17px"></icon>
    </p>
    {%- endif -%}

    

    {%- if section.settings.kits_tagline != blank -%}
    <p class="product-info__kits-tagline">{{ section.settings.kits_tagline | escape }}</p>
    {%- endif -%}

  </template>

  <template slot="content">
    <accordion-group class="product-info__accordians">
      {%- if product.description != blank -%}
      <accordion heading="Description">{{ product.description }}</accordion>
      {%- endif -%}
      <accordion heading="Included">
        {% raw %}
          <pre>{{ $store.state.pdp.currentVariant ? $store.state.pdp.currentVariant.custom_fields.included : '' }}</pre>
        {% endraw %}
      </accordion>
      <accordion heading="Features">
        {% raw %}
          <pre>{{ $store.state.pdp.currentVariant ? $store.state.pdp.currentVariant.custom_fields.features : '' }}</pre>
        {% endraw %}
      </accordion>
    </accordion-group>
    
    <tabs class="product-info__tabs">
      {%- if product.description != blank -%}
      <tab heading="Description" selected>{{ product.description }}</tab>
      {%- endif -%}
      <tab heading="Included">
        {% raw %}
          <pre>{{ $store.state.pdp.currentVariant ? $store.state.pdp.currentVariant.custom_fields.included : '' }}</pre>
        {% endraw %}
      </tab>
      <tab heading="Features">
        {% raw %}
          <pre>{{ $store.state.pdp.currentVariant ? $store.state.pdp.currentVariant.custom_fields.features : '' }}</pre>
        {% endraw %}
      </tab>
    </tabs>
  </template>
</product-display>

<div class="u-hidden">
  <div class="product-info__membership-tooltip" ref="membership-tooltip">{{ section.settings.membership_tooltip }}</div>  
</div>


{% schema %}
  {
    "name": "Product Header",
    "settings": [
      {
        "label": "Promo Line",
        "type": "richtext",
        "id": "promo_line"
      },
      {
        "label": "Membership Line",
        "type": "text",
        "id": "membership_line"
      },
      {
        "label": "Membership Tooltip",
        "type": "richtext",
        "id": "membership_tooltip"
      },
      {
        "label": "Kits Tagline",
        "type": "text",
        "id": "kits_tagline"
      }
    ]
  }
{% endschema %}
