
<product-display product-handle="{{ product.handle }}">
  <template slot="content">
    {%- if section.settings.promo_line != blank -%}
    <p class="product-info__promo-line">{{ section.settings.promo_line | escape }}</p>
    {%- endif -%}
    <h1 class="product-info__title">{{ product.title }}</h1>
    <!-- Yotpo Star Rating -->
    <div class="yotpo bottomLine" data-product-id="{{ product.id }}">
    
      {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
      {%- assign time_now = 'now' | date: '%s' %}
      {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
      {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
      {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
      {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
      {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
      {%- assign yotpo_bottomline_obsolete = false %}
      {%- else %}
      {%- assign yotpo_bottomline_obsolete = true %}
      {%- endif %}
      {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
      {{ product.metafields.yotpo.bottomline }}
      {%- endif %}
    
    </div>
    <!-- End Yotpo Star Rating -->
    {%- if product.description != blank -%}
      <p class="product-info__description">{{ product.description }}</p>
    {%- endif -%}
  </template>
</product-display>

{% schema %}
  {
    "name": "Product Header",
    "settings": [
      {
        "label": "Promo Line",
        "type": "text",
        "id": "promo_line"
      }
    ]
  }
{% endschema %}
