{%- include 'bold-ro' -%}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% section 'product-template' %}
{% section 'related-products' %}
{% section 'recently-viewed-products' %}

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<style>

  
  .shopify-payment-button {
    display: compact;
    background: {{ section.settings.buy_button_background_color }};
    color: {{ section.settings.buy_button_text_color }};
    height: {{ section.settings.buy_button_height }}px;
    width: {{ section.settings.buy_button_width }}px;
    border-color: {{ section.settings.buy_button_border_color }};
    border-radius: {{ section.settings.buy_border_radius }}px;
    font-size: {{ section.settings.buy_button_text_size }}px;
    font-weight: {{ section.settings.buy_button_text_weight }};
    text-decoration: none;
    letter-spacing: {{ section.settings.buy_button_text_spacing }}px;
    padding: {{ section.settings.buy_button_top_padding }}px 28px;
   }
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background: {{ section.settings.buy_button_background_color }};
  }
</style>  

<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}">

{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
    {%- assign yotpo_main_widget_obsolete = false %}
  {%- else %}
    {%- assign yotpo_main_widget_obsolete = true %}
  {%- endif %}
  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
    {%- for field in product.metafields.yotpo_reviews -%}
      {{ field | last }}
    {%- endfor -%}
  {%- endif %}

</div>