<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{{ "swell-checkout.css" | asset_url | stylesheet_tag}}
    <div class="order-summary__section order-summary__section--swell" style="display:none;" id="swell-checkout">
  <div style="display:none;">
  	<span id="swell-checkout-customer-id">{{ customer.id }}</span>
  	<span id="swell-checkout-customer-email">{{ customer.email }}</span>
  	<span id="swell-checkout-customer-tags">{{ customer.tags | json }}</span>
  	<span id="swell-checkout-total-price-cents">{{ checkout.total_price }}</span>
  </div>
  <div class="swell-wrapper" style="line-height: 22px;">
    <div class="balance">
    <span class="checkout-title">You have <span class="swell-point-balance"></span> Points</span>
    </div>
  </div>

  <div class="swell-checkout-error-message" id="swell-checkout-error-message-amount" style="display:none;color:red;">Oops, You don't have enough points to redeem yet.</div>
  <div class="swell-checkout-error-message" id="swell-checkout-error-message-general" style="display:none;color:red;">Sorry something went wrong.  Try again and if the problem persists please contact support.</div>
  <div class="fieldset" style="margin-top: 15px;">
    <div class="checkout-redemption-div field">
      <div class="field__input-btn-wrapper">
        <div class="field__input-wrapper field__input-wrapper--select">
          <label class="field__label">Redeem Points</label>
          <select class="field__input field__input--select" id="swell-checkout-redemption-options"></select>
          <i class="fas fa-sort-up arrow"></i>
          <i class="fas fa-sort-down arrow"></i>
        </div>
   
        <button type="submit" id="swell-checkout-redeem-btn" class="field__input-btn btn btn--default swell-button">
          <span class="btn__content visually-hidden-on-mobile">Apply</span>
          <svg class="btn__content shown-on-mobile icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow"></use> </svg>
          <i style="display:none;" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </div>
</div>